// 색상
$기본배경: #000000;
$제목글씨: #f5f5f7;
$본문글씨: #a1a1a6;
$로고배경: #87cbb9;
$로고글씨채우기: #7deddd;
$로고글씨채우기2: #57afdf;
$로고글씨윤곽선: #31334b;

// 헤더 분기점
$header-mobile: 832px;
// 832px 이하일 때,
@mixin header-mobile {
  @media (max-width: $header-mobile) {
    @content;
  }
}
// 모바일에서 숨기기 속성
.hidden-on-header-mobile {
  @media (max-width: $header-mobile) {
    visibility: hidden;
  }
}
// 데스크탑에서 숨기기 속성
.hidden-on-header-desktop {
  @media (min-width: 833px) {
    visibility: hidden;
  }
}

// 홈 분기점
$home-desktop: 1600px;
$home-tablet: 1200px;
$home-mobile: 767px;
// 1600px 이하
@mixin home-desktop {
  @media (max-width: $home-desktop) {
    @content;
  }
}
// 1200px 이하
@mixin home-tablet {
  @media (max-width: $home-tablet) {
    @content;
  }
}
// 767px 이하
@mixin home-mobile {
  @media (max-width: $home-mobile) {
    @content;
  }
}
