@import '_utilities.scss';

.header {
  position: relative;
  z-index: 80;
  -webkit-backdrop-filter: saturate(180%) blur(20px); // 사파리 호환
  backdrop-filter: saturate(180%) blur(20px); // 배경흐리기 속성
  transition: background-color 1s ease;
}
.header__global-navigation {
  display: flex;
  justify-content: center;
  .header__global-navigation--contents {
    height: 44px;
    width: 100%;
    max-width: 980px;
    padding: 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include header-mobile {
      height: 48px;
      padding: 0 16px;
    }
    .header__global-navigation--logo {
      width: 14px;
      height: 14px;
      opacity: 0.8;
      margin: 10px 20px 10px 0;
      @include header-mobile {
        width: 17px;
        height: 17px;
      }
      &:hover {
        opacity: 1;
      }
    }
    .header__global-navigation--contents-wrapper {
      display: flex;
      a + a {
        margin-left: 90px;
        @include header-mobile {
          margin-left: 0px;
        }
      }
      & > a {
        color: $본문글씨;
        letter-spacing: 1px;
        text-align: center;
        font-size: 12px;
        width: 70px;
        @include header-mobile {
          width: 1px;
        }
        &:hover {
          color: $제목글씨;
        }
      }
    }
    .header__global-navigation--menu-button {
      width: 14px;
      padding: 10px 0px 10px 20px;
      @include header-mobile {
        width: 20px;
      }
      &:hover {
        cursor: pointer;
      }
      & > img {
        width: 20px;
        height: 20px;
        opacity: 0.75;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.header__local-navigation {
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 80;
  top: 0px;
  -webkit-backdrop-filter: saturate(180%) blur(20px); // 사파리 호환
  backdrop-filter: saturate(180%) blur(20px); // 배경흐리기 속성
  transition: background-color 1s ease;
  .header__local-navigation--contents {
    height: 63px;
    width: 100%;
    max-width: 980px;
    margin: 0 22px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.24);
    @include header-mobile {
      height: 60px;
      margin: 0 0px;
      padding: 0 16px;
    }
    & > button {
      padding-right: 22px;
      &:hover {
        cursor: pointer;
      }
      .header__local-navigation--sub-title {
        font-size: 12px;
        opacity: 0.61;
        margin-bottom: 6px;
        letter-spacing: 0.7px;
        @include header-mobile {
          letter-spacing: -0.2px;
          font-size: 11px;
          margin-bottom: 5px;
        }
      }
      .header__local-navigation--title {
        font-size: 21px;
        font-weight: 900;
        letter-spacing: 1px;
        margin-bottom: 12px;
        & > span {
          font-size: 18px;
          font-weight: 900;
          letter-spacing: 1px;
        }
        @include header-mobile {
          letter-spacing: 0px;
          font-size: 19px;
          & > span {
            letter-spacing: 0px;
            font-size: 16px;
          }
        }
      }
    }
    .header__local-navigation--contents-wrapper {
      display: flex;
      button + button {
        margin-left: 20px;
      }
      & > button > div {
        opacity: 0.61;
        text-align: right;
        font-size: 12px;
        letter-spacing: 1px;
        margin-bottom: 12px;
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}
