@import '_utilities.scss';

.home__outline {
  .outline__profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1700px; // 약 180vh
    overflow: hidden;
    .outline__profile--name {
      position: fixed;
      width: 1050px;
      bottom: -236px;
      opacity: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      transition: bottom 0.5s, opacity 0.5s;
      transition-timing-function: ease;
      &.active-one {
        opacity: 1;
        bottom: 530px;
      }
      &.active-two {
        position: absolute;
        opacity: 1;
        bottom: 530px;
      }
      & > img {
        width: 400px;
      }
    }
    .outline__profile--img {
      position: fixed;
      bottom: 0;
      width: 1050px;
      opacity: 0;
      transition: opacity 0.7s;
      transition-timing-function: ease;
      &.active-one {
        opacity: 1;
      }
      &.active-two {
        position: absolute;
        opacity: 1;
      }
      &.active-three {
        position: absolute;
        opacity: 0;
      }
    }
  }
  .outline__mantra {
    display: flex;
    flex-direction: column;
    align-items: center;
    .outline__mantra--title {
      opacity: 0;
      width: 980px;
      text-align: center;
      font-size: 85px;
      font-weight: 900;
      margin-top: 100px;
      transition: opacity 0.7s;
      transition-timing-function: ease;
      div + div {
        margin-top: 20px;
      }
      &.active {
        opacity: 1;
      }
    }
    .outline__mantra--explanation {
      opacity: 0;
      color: $본문글씨;
      margin-top: 35px;
      margin-bottom: 100px;
      width: 980px;
      text-align: center;
      font-size: 30px;
      font-weight: 900;
      line-height: 38px;
      word-break: keep-all;
      transition: opacity 0.7s;
      transition-timing-function: ease;
      &.active {
        opacity: 1;
      }
    }
  }
}

.home__projects {
  .projects__portfolio {
    height: 3400px;
  }
}
