@import '_utilities.scss';

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__hello {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  .home__hello--img {
    margin-top: 200px;
    width: 1200px;
  }
}
