@import '_utilities.scss';

.home__hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  .home__hello--img {
    position: fixed;
    opacity: 0;
    width: 400px;
    transition: width 0.5s, opacity 0.5s;
    transition-timing-function: ease;
  }
  .home__hello--intro {
    width: 1100px;
    position: fixed;
    opacity: 0;
    bottom: -400px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    transition: bottom 0.5s, opacity 0.5s;
    transition-timing-function: ease;
    .home__hello--intro-frontend {
      width: 400px;
    }
    .home__hello--intro-name {
      width: 400px;
    }
  }
  .home__profile--img {
    position: fixed;
    bottom: 0;
    width: 1100px;
    opacity: 0;
    transition: opacity 0.7s;
    transition-timing-function: ease;
  }
}
.home__hello-place-holder {
  width: 100%;
}
